.deliverables {
  display: flex;
}
.deliverables_contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

.deliverables_container > h1 {
  font-weight: 200;
}

.deliverables_container > h1 > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(54, 114, 224);
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.deliverable_type {
  padding-left: 20px;
}
